/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}
.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #dbe3e7;
}

.author-card-container{
    padding-bottom: 5%;
}

.body{
    background-color: rgb(0, 170    , 170);
}

.footer{
    background-color: #023E8A;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.img-container{
    display:flex;
    align-items:center;
}

#picture-1, #picture-2{
    object-fit: cover;
    object-position: 20% 80%;
    height: 450px;
    width: 400px;
}

.procedure-image{
    width:350px;
    height:auto;
}

.page-title{
    background-color: #023E8A;
    text-align: center;
    padding: 5% 5%;
    margin-bottom: 5%;
}

.nb-background-color{   /* navbar background color */
    background-color: #090050;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
    color:#ffffff !important;
}

.overview{
    background-color: #dbe3e7;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #dbe3e7;
    padding: 1px;
}

.showcase{
    background-color: #8fa3ab; /*#0096c7*/
}

.planet-bg-image{
    background-image: url("img/space-736712_1280.jpg");
    height: 500px;
    display: flex;
    align-items: center;
}

.logo-size{
    height: auto;
    width: 100px;
}

.top-padding{
    padding-top: 10px;
}


/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}